# Node modules
asm1_fe_client/node_modules/
asm1_fe_admin/node_modules/

# Build outputs
asm1_fe_client/build/
asm1_fe_admin/build/
asm1_be/target/

# IDE files
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db
